---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-6" title="about me">
  <div class="flex flex-col gap-3 h-full pt-4">
    <p class="text-sm font-light leading-6 m-0">
      hey 👋, <b class="font-semibold">devansh</b> here! a 20 year old something guy.
    </p>
    
    <p class="text-sm font-light leading-6 m-0">
      i study deep science and the systems around it, and try to build small pieces of my own. most of my research revolves around ai and particle physics, with a habit of shipping small tools on the side.
    </p>
    
    <p class="text-sm font-light leading-6 m-0">
      when not nerding out, you'll usually find me on a tennis court or playing flute (i'm bad at both tho).
    </p>
    
    <p class="text-sm font-light leading-6 m-0">
      this website is a wip. i used to love writing essays back, but these days i spend most of my time working on my projects. speaking of building, i love open source - that's why almost everything i build is oss!
    </p>
  </div>
</Card>
