---
import { Icon } from "astro-icon/components";
import { LINKS } from "../lib/constants";
import Card from "./Card/index.astro";
import Pulse from "./Pulse.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-2">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h2>Now</h2>
      <p class="text-xs text-gray-500 cursor-pointer">what's that ?</p>
    </div>
    <Pulse />
  </div>
  <p class="text-xs">
    currently building <a
      href="https://www.cliply.space/"
      class="text-primary-500 hover:text-primary-600">cliply</a
    >, a simple way to save things off the internet
  </p>
  <p class="text-xs text-gray-500">
    <em
      >building some next level cool stuff and need an extra brain on the team?</em
    >
  </p>
  <p class="text-xs flex items-center">
    Hit me up on <a
      href={LINKS.twitter}
      aria-label="twitter profile"
      target="_blank"
      ><Icon
        name="ri:twitter-fill"
        class="h-6 text-grey-500 cursor-pointer ml-1 hover:text-primary-500"
      />
    </a>
  </p>
</Card>
