---
import Card from "./Card/index.astro";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-1" href="/projects">
  <div class="flex justify-between w-full items-start mb-2">
    <div class="flex flex-col">
      <h1>Projects</h1>
      <span class="text-xs text-gray-500 cursor-pointer"
        >wanna see my werk!..?</span
      >
    </div>
  </div>
</Card>
